<% content_for(:pagetitle) do %>
    Editing <i><%= @attendee.full_name %></i>
<% end %>

<% content_for(:sidebar) do %>
    
<% end %>

<%= render 'form' %>
<br/>
<div class="btn-group">
    <%= link_to 'Show', @attendee, :class => "btn text-white btn-info" %>
    <%= link_to 'Back', attendees_path, :class => "btn text-white btn-danger" %>
</div>