<h1>Editing Attendee</h1>

<%= render 'form' %>
<br/>
<div class="btn-group">
    <%= link_to 'Show', @attendee, :class => "btn text-white btn-info" %>
    <%= link_to 'Back', attendees_path, :class => "btn text-white btn-danger" %>
</div>