<% content_for(:pagetitle) do %>
    Editing <i><%= @sponsor.name %></i>
<% end %>

<% content_for(:pagebuttons) do %>
    <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
        <%= link_to 'Show', @sponsor, :class => "btn btn-sm btn-info" %>
        <%= link_to 'Back', sponsors_path, :class => "btn btn-sm btn-warning" %>
    </div>
<% end %>

<%= render 'form' %>