<h3>Next 5 Meetings Here:</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Meeting Name</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
  </thead>

  <tbody>
    <% @location.meetings.take(5).each do |meeting| %>
      <tr>
        <td><%= link_to(meeting.name, meeting)%></td>
        <td><%= meeting.start_time.strftime('%b. %e, %l:%M%p') %></td>
        <td><%= meeting.end_time.strftime('%b. %e, %l:%M%p') %></td>
      </tr>
    <% end %>
  </tbody>
</table>