<h1>Editing Location</h1>

<%= render 'form' %>
<br/>
<div class="btn-group">
    <%= link_to 'Show', @location, :class => "btn text-white btn-info" %>
    <%= link_to 'Back', locations_path, :class => "btn text-white btn-danger" %>
</div>